pkgbase = attune-bin
	pkgdesc = Attune command-line interface and MCP server
	pkgver = 0.7.0
	pkgrel = 1
	url = https://github.com/attune-system/attune
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = attune
	conflicts = attune
	source_x86_64 = attune_0.7.0_linux_amd64.tar.gz::https://github.com/attune-system/attune/releases/download/v0.7.0/attune_0.7.0_linux_amd64.tar.gz
	sha256sums_x86_64 = 50ad751cb0d33f0421cac55aa5e9320973e70232cee04f9a365999841a16b808
	source_aarch64 = attune_0.7.0_linux_arm64.tar.gz::https://github.com/attune-system/attune/releases/download/v0.7.0/attune_0.7.0_linux_arm64.tar.gz
	sha256sums_aarch64 = 1a89a5c6af054b8cac28a5a948c9ff8fef5897fb92d7b4db59065ab43f711f66

pkgname = attune-bin
