pkgbase = attune-bin
	pkgdesc = Attune command-line interface and MCP server
	pkgver = 0.7.1
	pkgrel = 1
	url = https://github.com/attune-system/attune
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	provides = attune
	conflicts = attune
	source_x86_64 = attune_0.7.1_linux_amd64.tar.gz::https://github.com/attune-system/attune/releases/download/v0.7.1/attune_0.7.1_linux_amd64.tar.gz
	sha256sums_x86_64 = cf49ff60700991cbc5145bbd591a2130b8a4ccee7674575a84daca465616d74c
	source_aarch64 = attune_0.7.1_linux_arm64.tar.gz::https://github.com/attune-system/attune/releases/download/v0.7.1/attune_0.7.1_linux_arm64.tar.gz
	sha256sums_aarch64 = 8505c1e23474ad9c45df5450def9608dcb87bc361eae5fa764e5d42f7a40384f

pkgname = attune-bin
